@import '../../styles/vars.css';

.title-app__box {
  color: var(--color-green-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  margin-top: 3rem;
}

.title-app {
  font-size: 4rem;
}
